<mat-toolbar color="primary" class="mb">
    <mat-toolbar-row class="row between-xs">
            <nav>
                <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
                <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
                <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
                <a mat-button routerLink="/admin/create" routerLinkActive="active">Formulario</a>
            </nav>
            <!-- <span class="material-icons">shopping_cart</span> -->
            <a mat-raised-button matBadge="4" matBadgeColor="warn"> 
                <span class="material-icons">shopping_cart</span>
                Carrito
            </a>
    </mat-toolbar-row>
</mat-toolbar>

<!-- <mat-toolbar-row class="row between-xs" color="primary">
    <nav>
        <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
        <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>
</mat-toolbar-row> -->
